* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .main {
    margin-top: 285px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
  }
  .main h1 {
    color: #025157;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    font-family: "Alegreya", serif;
  }
  .main form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .texto_centrado {
    text-align: center;
    color: #46484c;
    margin: 15px 0;
  }
  .main button {
    color: #fff;
    background-color: #025157;
    height: 45px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
  }
  .main input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
  }
  .main .banner {
    margin-top: 25px;
    text-align: center;
  }
  .main .second_banner {
    margin-top: 25px;
    text-align: center;
  }
  .main .second_banner img {
    width: 60%;
  }
  .main .grey-text {
    color: #a6a6a6;
    text-align: center;
    margin-top: 15px;
  }
  .header {
    margin: 40px 20px 150px 20px;
    font-size: 0;
    text-align: center;
    height: 45px;
    font-family: sans-serif;
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }
  .menu-item {
    display: inline;
    margin: 0 25px;
  }
  .logo {
    width: 20%;
    height: 100%;
  }
  .logo > img {
    height: 100%;
  }
  .navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
  }
  .actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  .actions > * {
     margin: 0 10px;
  }
  .actions > a {
    color: #67b54b;
  }
  .actions > button {
    color: #fff;
    background-color: #67b567;
    padding: 12px 14px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
  }
  .texto_centrado {
    text-align: center;
    color: #46484c;
  }

.publish h3 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish > form {
    display: flex;
}
.publish > form p {
    color: #025157;
    margin-right: 18px;

}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: flex-start;
}
.publish > form button {
    color: #fff;
    background-color: #025157;
    height: 45px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    padding: 5px;
}
.publish > form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 45px;
    margin-right: -5px;
    border: 1px solid #c6c6c6;
    padding: 0 5px;
}
.explanatory-video{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}
.publish {
  margin-left: 20px;
  flex: 1;
}
.success-stories {
  background-color: #a1d683;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5% 15%;
}
.success-stories .stories-carousel {
  flex: 1;
}
.carousel{
  position: relative;
}
.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}
.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}
.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
  background-color: #025157;
  color: #fff;
}
figure {
  margin-top: 32px
}
.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}
.features {
  display: grid;
  height: 660px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background-color: #025157;
  padding: 5% 10%;
}
.feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.feature-content{
  flex: 2;
  padding: 30px 20px 40px 40px;
}
.feature-image img{
  flex: 1;
  position: relative;
  width: 40%;
  height: 80%;
  right: -50px;
}
.feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}
