body {
    background-color:#fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
}
h4 {
    color: #46484c;
    text-align: center;
}
button {
color: #fff;
background-color: #025157;
margin-left: -10px;
height: 40px;
}

form {
    text-align: center;
}

